# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directorio de dependencias (¡El más importante!)
node_modules/

# Archivos de entorno local (variables sensibles)
.env
.env.test

# Archivos de depuración y cobertura
coverage/
.nyc_output/

# Archivos del sistema operativo
.DS_Store
Thumbs.db